{% extends 'base.html' %}
{% load static %}
{% load cache %}

{%block titre%} {{titre|title}} - rechercher {%endblock titre %}

{%block meta %}
<meta http-equiv="X-Frame-Options" content="sameorigin">
{%endblock meta %}

{%block style %}
<style>
    .container{
        padding: 75px 25%;
        border: 10px solid red;
    }
</style>
{%endblock style %}
{%block links %} 

<link rel="stylesheet" href="{% static 'rechercher/css/style-rechercher.css' %}">
<link rel="stylesheet" href="{% static 'annonces/css/style-category.css' %}">
<link rel="stylesheet" href="{% static 'owl-carrousel/css/card-style.css' %}">
<link rel="stylesheet" href="{% static 'annonces/css/style-card2.css' %}">
{%endblock links %}
{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %}
{% block Content %}
<div class="container-annonce-search">
    <div class="band-search" style="background-color: #09112e;" >
        <h1 class="text">Rechercher</h1>
         <p class="search-text" > "{{titre}}" </p>
    </div>
    {%for iden,work,user,vues,dispo,avis in com_list %}

    <div class="card-long" onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"'>
        <div class="thumbnail">
            {% if work.imgurl1 %}
               <img src="{{work.imgurl1}}" alt="" class="card-image" height="620" width="620">
            {% elif work.imgurl2 %}
               <img src="{{work.imgurl2}}" alt="" class="card-image" height="620" width="620">
            {% elif work.imgurl3 %}
               <img src="{{work.imgurl3}}" alt="" class="card-image" height="600" width="620" >
            {% else %}
              <img src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-image" height="620" width="620">
            {%endif%}
        </div>
        <div class="contenain">
            <h2 class="titre">{{work.titre|title|truncatechars:30  }} </h2>
            <div class="prix">
                {% if work.prix %} 
                    {{work.prix}}
                    {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}  
                    <span  style="font-size:10px;">/{{work.poids}}</span>
                {% endif %}
                
                {% if work.prix_min %}
                   {{work.prix_min}} 
                   {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                {% endif %}
                {% if work.prix_min %}
                  - {{work.prix_max}}
                  {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                  <span  style="font-size:10px;">/{{work.poids}}</span>
                {% endif %}

                {% if work.autres %}
                   {{work.autres}}
                {% endif %} 
            </div>
            <div class="subtitle" style="color:{{dispo.color}}"> {{dispo.disponible|default:"Delai"}}</div>
            <div class="element lieu">
                <span class="vu"> <i class="fa fa-map-marker" aria-hidden="true"> </i>  {{user.quartier}}</span>
            </div>
            <div class="description"> {{work.description|truncatechars:30}}</div>
            <div class="commentaire"><strong> <i class="fas fa-comments"></i>  Commentaire: | {{avis.count_total|default:"0"}} |</strong></div>
            <div class="element">
                <span class="vu"><i class="fa fa-users" aria-hidden="true"></i>  {{user.prenom}} {{user.nom}}</span>
                <span class="vu"><i class="fas fa-clock    "></i> {{work.date}}</span>
                <span class="vu"><i class="fas fa-eye"></i>  {{vues.count|default:"0"}}</span> 
            </div> 
        </div>
        <div  class="more">
            <a href="/description/{{work.categorie}}/{{iden.id}}">Voir Plus</a>
        </div>    
    </div>
            {% empty %}
           
             <div class="notrouver">
                 <img class="icon" src="{% static 'rechercher/img/undraw_Web_search_re_efla.png'%} " alt="" height="200" width="200">
                 <div class="text">Annonce Non Trouve</div>
             </div>
    
        {% endfor %}
             
           <div class="pagination">
                {% if com_list.has_previous %}
                    <a href="/rechercherpage/{{titre}}/?page={{com_list.previous_page_number}}" class="page prev"><i class="fas fa-arrow-left"></i> Precedent</a>
                {% endif %}
                <span class="current">
                    [{{ com_list.number }} of {{ com_list.paginator.num_pages }}]
                </span>
                {% if com_list.has_next %}
                    <a href="/rechercherpage/{{titre}}/?page={{com_list.next_page_number}}" class="page next">Suivant <i class="fas fa-arrow-right"></i></a>
                {% endif%}
            </div>
     
</div>
{% endblock Content %}
{%block js %} 
    <script src="{% static 'owl-carrousel/js/card.js' %}"></script>
{%endblock js %}