{% extends 'base.html' %}
{% load static %}
{% load cache %}
{%block titre%}{{data.prenom}} {{data.nom}} - Dashbord {%endblock titre %}
{%block style %}
{%endblock style %}
{%block links %} 
<link rel="stylesheet" href="{% static 'dashbord/css/style-dashbord.css' %}">
{%endblock links %}
{%block Connexion %}
    {% include "header/nav_connexion.html" %}
{%endblock Connexion %} 

{% block Content %}
{% cache 500 band uid %}
 <div class="container">
    <div class="band-dash">
        <div class="dash-milieu">
            <div>
                {% if data.imgurl %}
                <img class="dash-profil" src="{{data.imgurl}}" width="120" height="120" alt="">
                {% else %}
                <img class="dash-profil" src="https://th.bing.com/th/id/OIP.iOnAhgLrg_AR5D6STimV3wAAAA?w=221&h=220&c=7&r=0&o=5&pid=1.7" width="120" height="120" alt="">
                {% endif%} 
            </div>
            <div class="dash-profil-text">
                <h3 class="dash-username">{{data.prenom}}  {{data.nom}}</h3>
                <P class="dash-useremail">{{data.email}}</P>
                <div class="dash-socialmedia">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                </div>  
            </div>  
            <button class="btn-modifier">Modifier</button>      
        </div>
    </div>
    {% endcache %}
    <div class="dash-contaneur">
        <div class="container">
            <div class="wrapper">
                <button id="btn-modal-annonce" class="button"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une Annonce </button>
            </div>
        </div>
        <div class="modal-connexion" id="myModal">
            <!-- Modal content -->
            <div  class="modal-content">
                <div class="modal-header">
                    <span class="close"> 
                        <span class="fermer">&times;</span>
                        <span class="text-search">Ajouter Une Annonce</span>
                        <span></span>
                    </span>
                </div>
                <div class="modal-body">
                        <h5 style="color:tomato;" class="text social" id="text-annonce">
                            Remplir les champs et appuyer sur suivant.
                        </h5>
                        <form action="/creation_annonce/" method="post" >
                            {% csrf_token %}

                            <div class="part_item">
                                <div class="item item1 isactived-item" id="item1">Details</div>
                                <div class="item item2 " id="item2">Prix&Delai</div>
                                <div class="item item3" id="item3">Photos</div>
                            </div>
                            <div class="part part_info isactived">
                                <input id="titre" type="text" placeholder="Titre(exemple:5 Poules aux quartier...)" name="titre" >
                                <label for="cat">Categories:</label>
                                <select id="cat" name="cat">
                                    <option >Choisir Entre Elevage et Agriculture ici</option>
                                    <option value="elevage">Elevage</option>
                                    <option value="agriculture">Agriculture</option>
                                </select>                           
                                <input id="produit" type="text" placeholder="Produit(exemple:Poule)" name="produit">
                                <input id="quatite"  type="number" placeholder="Quatite(exemple:5)" name="quatite">
                                <textarea id="desc" rows="4" cols="50" name="descp" placeholder="Description (exemple: je ai 5 poules de couleurs blancs ...) "></textarea>
                                <div class="btn">
                                    <button id="btn_suivant_1" type="button" onclick="Suivant(1,'530px')" >Suivant</button>
                                </div>  
                            </div>
                            <div class="part part_info_2">
                                <br>
                                <label for="devise">Devise:</label>
                                <select id="cat" name="devise">
                                    <option >Choississez la Devise</option>
                                    <option value="CDF">CDF(Franc Congolais)</option>
                                    <option value="USD">USD( Dollar Americain)</option>
                                </select> 
                                <br>
                                <label for="Prix">Veillez Introduire un Prix fixe</label>
                                <input type="number" placeholder="Prix (exemple:50000 ou 50) " name="prix">
                                <br>
                                <label for="prix_min">ou Veillez Introduire un Interval de Prix de Votre produit </label>
                                <input id="prix" type="number" placeholder="Prix Minimun (exemple:1000 ou 10)" name="prix_min">
                                <input id="prix" type="number" placeholder="Prix Maximun (exemple:5000 ou 10 )" name="prix_max">
                                <br>
                                <label for="Delai">Veillez Introduire un delai Max et Min sera en fonction de la dete</label>
                                <br>
                                <label for="delai">Delai:</label>
                                <select id="cat" name="delai">
                                    <option >Choississez le Delai max</option>
                                    <option value="1">24 Heure</option>
                                    <option value="2">48 Heures</option>
                                    <option value="3">3 jours</option>
                                    <option value="7">1 Semaines</option>
                                    <option value="14">2 Semaines</option>
                                    <option value="30">1 Mois</option>
                                    <option value="90">3 Mois</option>
                                    <option value="240">6 Mois</option>
                                    <option value="365">1 Annee</option>
                                </select> 
                                <br>
                                <br>
                                <div class="btn">
                                    <button type="button" id="btn_precedent"onclick="Precedent(2,'530px')">Precedent</button>
                                    <button type="button" id="btn_suivant" onclick="Suivant(2,'530px')" >Suivant</button>
                                </div>  
                                    
                            </div>
                            <div class="part part_photo">
                                    <div class="affiche_image">
                                        <span class="img_show" id="selectedBanner1"></span>
                                        <span class="img_show" id="selectedBanner2"></span>
                                        <span class="img_show" id="selectedBanner3"></span>
                                    </div>
                                    <div>
                                        <input class="image_file" type="file" name="files[]" id="file1">
                                        <button type="button" class="btn_uplaod" onclick="uploadimage(1)" >Envoyer La Photo 1</button>
                                    </div>
                                    <div>
                                        <input class="image_file" type="file"  name="files[]" id="file2">
                                        <button type="button"  class="btn_uplaod" onclick="uploadimage(2)">Envoyer La Photo 2</button> 
                                    </div>
                                    <div>
                                        <input class="image_file" type="file" name="files[]" id="file3">
                                        <button type="button"  class="btn_uplaod" onclick="uploadimage(3)">Envoyer La Photo 3</button> 
                                    </div>
                                    <br>
                                    <input type="hidden" name="imgurl1" id="url1">
                                    <input type="hidden" name="imgurl2" id="url2">
                                    <input type="hidden" name="imgurl3" id="url3">
                                    <br>
                                    <div class="wrap-circles">
                                        <div class="circle per-0">
                                            <div class="inner">0%</div>
                                        </div>
                                        <div class="circle per-25">
                                            <div class="inner">25%</div>
                                        </div>
                                        <div class="circle per-50">
                                            <div class="inner">50%</div>
                                        </div>
                                        <div class="circle per-75">
                                            <div class="inner">75%</div>
                                        </div>
                                        <div class="circle per-100">
                                            <div class="inner">100%</div>
                                        </div>
                                    </div>
                            
                                <div class="btn">
                                    <button type="button" id="btn_precedent" onclick="Precedent(3,'500px')">Precedent</button>
                                    <button  id="annoncer_btn" >Ajouter</button>
                                </div> 
                            </div>  
                        </form>
             </div>   
        </div>
     </div>

        <div class="tab-container">
            <div class="tabButton">
                <button class="tablink" onclick="openPage('Home', this)">VosFavoris</button>
                <button class="tablink" onclick="openPage('News', this)" id="defaultOpen">VosAnnonces</button>
                <button class="tablink" onclick="openPage('Contact', this)">VosAbonnement</button>
            </div>
        </div>
        
        <div id="Home" class="tabcontent">
        <h1 class="text" >Vos Favoris</h1>
        <p>Home is where the heart is..</p>
        </div>

        <div id="News" class="tabcontent">
        <h1 class="text">Vos Annonces</h1>
         {%if uid %}
           <p>Voici la liste de Vos Annonces</p> 
         {% else %}
           <p></p>
         {% endif%}
        <div class="conteneur-card">

        {%for iden,work in com_list %}

            <div class="card-long">
                <div class="thumbnail" >
                    {% if work.imgurl1 %}
                       <img src="{{work.imgurl1}}" alt="" class="card-image" height="620" width="620">
                    {% elif work.imgurl2 %}
                       <img src="{{work.imgurl2}}" alt="" class="card-image" height="620" width="620">
                    {% elif work.imgurl3 %}
                       <img src="{{work.imgurl3}}" alt="" class="card-image" height="620" width="620">
                    {% else %}
                      <img src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-image" height="620" width="620">
                    {%endif%}
                </div>
                <div class="contenain" onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"' >
                    <h2 class="titre">{{work.titre|title }} </h2>
                    <div class="prix">
                        {% if work.prix %} 
                            {{work.prix}}
                            {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %} 
                        {% endif %}
                        <span class="prix_interval">
                        
                        {% if work.prix_min %}
                           {{work.prix_min}} 
                           {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                        {% endif %}
                        {% if work.prix_min %}
                          - {{work.prix_max}}
                          {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                        {% endif %}
                        </span>
                    </div>
                    <div class="subtitle">Disponible</div>
                    <div class="element lieu">
                        <span class="vu"><i class="fa fa-map-marker" aria-hidden="true"></i> {{data.adr}}</span>
                    </div>
                    <div class="description"> {{work.description|truncatechars:50}}</div>
                    <div class="commentaire"><strong>Commentaire: |50|</strong></div>
                    <div class="element">
                        <span class="vu"><i class="fa fa-users" aria-hidden="true"></i> {{data.prenom}} {{data.nom}}</span>
                        <span class="vu"><i class="fas fa-clock "></i> {{work.date}}</span>
                        <span class="vu"><i class="fas fa-eye"></i> {{work.Annee}}</span>  
                    </div> 
                </div>
                <div  class="more">
                    <a href="/description/{{work.categorie}}/{{iden.id}}">Voir Plus</a>
                </div>
                <div class="dash_control">
                    <div  class="more" id="modifier">
                        <a href=""><i class="fa fa-marker"></i></i></a>
                    </div>
                    <div  class="more" id="supprimer">
                        <a href="/supprannonce/{{work.categorie}}/{{iden.id}}"><i class="fa fa-trash"></i></a>
                    </div>
                </div>     
            </div>
            {% empty %}
              <h3 style="color:rgb(71, 71, 71) ;">Pas d'annonce Appuyer sur Ajouter Annonnce.</h3>
             {% endfor %}
        <div class="pagination">
            {% if com_list.has_previous %}
                <a href="{% url 'dashbord' %}?page={{com_list.previous_page_number}}" class="page prev"><i class="fas fa-arrow-left"></i> Precedent</a>
            {% endif %}
            {% if com_list.has_next %}
                <a href="{% url 'dashbord' %}?page={{com_list.next_page_number}}" class="page next">Suivant <i class="fas fa-arrow-right"></i></a>
            {% endif%}
        </div>
           
    
        </div>
        
        </div>

        <div id="Contact" class="tabcontent">
        <h1 class="text">Vos Abonnement</h1>
        <p>Get in touch, or swing by for a cup of coffee.</p>
        <div class="conteneur-card">
            
            <div class="card-long">
                <div class="thumbnail">
                    <img src="https://images.pexels.com/photos/457447/pexels-photo-457447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-image">
                </div>
                <div class="contenain">
                    <h2 class="titre">card </h2>
                    <p class="subtitle">Disponible</p>
                    <p class="description"> Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Nemo rem doloremque aspernatur 
                        modi officiis impedit inventore fugit quidem a repudiandae 
                        voluptatem reiciendis,
                        magni accusantium necessitatibus illum cum atque, vero odit. 
                    </p>
                    <div class="element">
                        <p class="vu"><i class="fa fa-users" aria-hidden="true"> Mike</i></p>
                        <p class="vu"><i class="fas fa-clock    "></i> 2 minutes</p>
                        <p class="vu"> <i class="fa fa-map-marker" aria-hidden="true"> kasumbalesa</i></p>  
                    </div> 
                </div>
                <div  class="more">
                    <a href="">Voir</a>
                </div>
                <div class="dash_control">
                    <div  class="more" id="supprimer">
                        <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>     
            </div>

            <div class="card-long">
                <div class="thumbnail">
                    <img src="https://images.pexels.com/photos/457447/pexels-photo-457447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-image">
                </div>
                <div class="contenain">
                    <h2 class="titre">card </h2>
                    <p class="subtitle">Disponible</p>
                    <p class="description"> Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Nemo rem doloremque aspernatur 
                        modi officiis impedit inventore fugit quidem a repudiandae 
                        voluptatem reiciendis,
                        magni accusantium necessitatibus illum cum atque, vero odit. 
                    </p>
                    <div class="element">
                        <p class="vu"><i class="fa fa-users" aria-hidden="true"> Mike</i></p>
                        <p class="vu"><i class="fas fa-clock    "></i> 2 minutes</p>
                        <p class="vu"> <i class="fa fa-map-marker" aria-hidden="true"> kasumbalesa</i></p>  
                    </div> 
                </div>
                <div  class="more">
                    <a href="">Voir</a>
                </div>
                <div class="dash_control">
                    <div  class="more" id="supprimer">
                        <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>     
            </div>
        </div>
        </div>

    
    </div>
   
   
 </div>
 

    {%block js %} 
    <script src="{% static 'dashbord/js/dash-js.js' %}"></script>
    <script src="{% static 'dashbord/js/modal.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
         
      // Get a reference to the storage service, which is used to create references in your storage bucket
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var Config = {
                    apiKey: "AIzaSyB8EzstENagg8-JjE-C90sdowpd58AInN8",
                    authDomain: "appmemoire-a5a2a.firebaseapp.com",
                    databaseURL: "https://appmemoire-a5a2a-default-rtdb.firebaseio.com",
                    projectId: "appmemoire-a5a2a",
                    storageBucket: "appmemoire-a5a2a.appspot.com",
                    messagingSenderId: "86048778948",
                    appId: "1:86048778948:web:12646f497c766ed9f5b791"
                };
        
        firebase.initializeApp(Config);

      function uploadimage(a){
                  // Your web app's Firebase configuration
                

                progressBar(0);
                if( a==1){
                  var file = document.getElementById("file1").files[0];
                  upimage(file,a);
                }
                if( a==2){
                  var file = document.getElementById("file2").files[0];
                  upimage(file,a);
                }
                if( a==3){
                  var file = document.getElementById("file3").files[0];
                  upimage(file,a);
                }

                function upimage(files,b){
                  progressBar(25);
                  var file = files; 
                  var B = b;
                  var storage = firebase.storage();

                  var storageRef = storage.ref();

                  var thisref = storageRef.child("annonces").child(file.name).put(file);

                  thisref.on('state_changed',function(snapshot){

                  console.log("file uplaoded succesfully");
                  progressBar(50);
                  },
                  function(error) {

                  },

                  function() {
                  // Upload completed successfully, now we can get the download URL
                  var downloadURL = thisref.snapshot.downloadURL;
                if( B==1){
                  console.log("got url");
                  progressBar(75);
                  document.getElementById("url1").value = downloadURL;
                  var url1 = downloadURL;
                  console.log(url1);
                  console.log("file uploaded successfully in firebase img1");
                  progressBar(100);
                } 
                if( B==2){
                  console.log("got url");
                  progressBar(75);
                   document.getElementById("url2").value = downloadURL;
                   var url2 = downloadURL;
                   console.log(url2);
                   console.log("file uploaded successfully in firebase img2");
                  progressBar(100);
                } 
                if( B==3){
                  console.log("got url");
                  progressBar(75);
                  document.getElementById("url3").value = downloadURL;
                  var url3 = downloadURL;
                  console.log(url3);
                  console.log("file uploaded successfully in firebase img3");
                  progressBar(100);
                } 
                if(url1 != "" &&  url2 !="" && url3 !=""){
                  document.getElementById("annoncer_btn").disabled= false;
                }else{
                  document.getElementById("annoncer_btn").disabled= true;
                }
               

            });
         }
                
    }
      function  progressBar(value){
      if(value == 0){
      document.querySelector(".per-0").style.display="none";
      document.querySelector(".per-0").style.display="block";
      }
      if(value == 25){
        document.querySelector(".per-25").style.display="none";
        document.querySelector(".per-0").style.display="none";
        document.querySelector(".per-25").style.display="block";
      }
      if(value == 50){
       document.querySelector(".per-50").style.display="none";
       document.querySelector(".per-25").style.display="none";
       document.querySelector(".per-50").style.display="block";
      }
      if(value == 75){
        document.querySelector(".per-75").style.display="none";
        document.querySelector(".per-50").style.display="none";
        document.querySelector(".per-75").style.display="block";
      }
      if(value == 100){
        document.querySelector(".per-75").style.display="none";
        document.querySelector(".per-75").style.display="none";
        document.querySelector(".per-100").style.display="block";
      }
    }
        var selDiv1 = "";
        var storedFiles1 = [];
        var selDiv2 = "";
        var storedFiles2 = [];
        var selDiv3 = "";
        var storedFiles3 = [];
        $(document).ready(function () {
          $("#file1").on("change", handleFileSelect1);
          selDiv1 = $("#selectedBanner1");
        });
        $(document).ready(function () {
          $("#file2").on("change", handleFileSelect2);
          selDiv2 = $("#selectedBanner2");
        });
        $(document).ready(function () {
          $("#file3").on("change", handleFileSelect3);
          selDiv3 = $("#selectedBanner3");
        });
    
        function handleFileSelect1(e) {
          var files = e.target.files;
          var filesArr = Array.prototype.slice.call(files);
          filesArr.forEach(function (f) {
            if (!f.type.match("image.*")) {
              return;
            }
            storedFiles1.push(f);
    
            var reader = new FileReader();
            reader.onload = function (e) {
              var html =
                '<img src="' +
                e.target.result +
                "\" data-file='" +
                f.name +
                "alt='Category Image' height='70px' width='70px'>";
              selDiv1.html(html);
            };
            reader.readAsDataURL(f);
          });
        }
        function handleFileSelect2(e) {
          var files = e.target.files;
          var filesArr = Array.prototype.slice.call(files);
          filesArr.forEach(function (f) {
            if (!f.type.match("image.*")) {
              return;
            }
            storedFiles2.push(f);
    
            var reader = new FileReader();
            reader.onload = function (e) {
              var html =
                '<img src="' +
                e.target.result +
                "\" data-file='" +
                f.name +
                "alt='Category Image' height='70px' width='70px'>";
              selDiv2.html(html);
            };
            reader.readAsDataURL(f);
          });
        }
        function handleFileSelect3(e) {
          var files = e.target.files;
          var filesArr = Array.prototype.slice.call(files);
          filesArr.forEach(function (f) {
            if (!f.type.match("image.*")) {
              return;
            }
            storedFiles3.push(f);
    
            var reader = new FileReader();
            reader.onload = function (e) {
              var html =
                '<img src="' +
                e.target.result +
                "\" data-file='" +
                f.name +
                "alt='Category Image' height='70px' width='70px'>";
              selDiv3.html(html);
            };
            reader.readAsDataURL(f);
          });
        }
    
      </script>
    {%endblock js %}
{% endblock Content %}