{% extends 'base.html' %}
{% load static %}
{%block titre%}Home{%endblock titre %}
{%block links %}
     <link rel="stylesheet" href="{% static 'home/css/slider-style.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/style-rubrique.css' %}">
     <link rel="stylesheet" href="{% static 'owl-carrousel/css/card-style.css' %}">
     <style>
        .overlay{
            width: 100%;
            height: 450px;
            background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)) ;
            position: absolute;
            top: 64px;
            }
            @media screen and (max-width: 1024px){
                .overlay{
                 height: 500px;
                 z-index:1;
                } 
            }
            @media screen and (max-width: 700px){
            .overlay{
            height: 365px;
            }}
     </style>

{%endblock links %}

  {%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
  {%endblock Connexion %} 
{% block Content %}
 

    <div class="overlay"></div>
    <div class="slider">
      <div class="slide">
          <div class="center">
              <h1 class="logo" translate="no">Annoncelushi</h1>
          </div> 
          {% if uid %}
          <div class="mySlides">
            <img  src="https://images.pexels.com/photos/754308/pexels-photo-754308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:100%;height:500px; ">
            <div class="center-slide">
              <h3 class="titre"> BIENVENU(E) SUR NOTRE SITE</h3>
              <p class="subtitre">Ce Site permet de vous donner les annonces 
                  des produits Agricoles et Elevages. </p>
              <div class="links">
                <a href=" {% url 'dashbord' %}" style="background-color:tomato ;" class="link">Dashbord</a>
              </div>
            </div> 
          </div>
          {% else %}
          <div class="mySlides">
            <img  src="https://images.pexels.com/photos/5490702/pexels-photo-5490702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%;height:500px; ">
            <div class="center-slide">
              <h3 class="titre"> BIENVENU(E) SUR NOTRE SITE</h3>
              <p class="subtitre">Ce Site permet de vous donner les annonces 
                  des produits Agricoles et Elevages. 
              </p>
              <div class="links">
                <a href="{% url 'signIn' %}" class="link">Connexion</a>
              </div>
            </div> 
        </div>
          
          {% endif%}
          {% if uid %}
          <div class="mySlides">
            <img  src="https://images.pexels.com/photos/11467286/pexels-photo-11467286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:100%;height:500px;">
            <div class="center-slide">
              <h3 class="titre"> MERCI POUR NOTRE ETRE DEVENU NOTRE PARTENAIRE</h3>
              <p class="subtitre">Publier Autant d'Annonce que Vous voullez dans le Dashbord.</p>
              <div class="links">
                <a href=" {% url 'dashbord' %}" style="background-color:tomato ;" class="link">Dashbord</a>
              </div>
            </div>   
        </div>
        {% else %}
        <div class="mySlides">
            <img  src="https://images.pexels.com/photos/4022123/pexels-photo-4022123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:100%;height:500px;">
            <div class="center-slide">
              <h3 class="titre"> DEVENEZ NOTRE PATERNAIRE</h3>
              <p class="subtitre">Creer Un compte chez nous afin des publies vos annonces.  
              </p>
              <div class="links">
                <a href=" {% url 'signUp' %}" class="link">Inscrption</a>
              </div>
            </div>   
        </div>
        {% endif%}

        <div class="mySlides">
            <img  src="https://images.pexels.com/photos/1300375/pexels-photo-1300375.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%;height:500px;">
          <div class="center-slide">
            <h3 class="titre"> NOTRE APPLICATION MOBILE</h3>
            <p class="subtitre">Telecharger notre application mobile Android</p>
            <div class="links">
              <a href="" class="link">Telechargement</a>
            </div>
          </div> 
        </div>
    </div>
    </div>

    <div class="container-choice">
      <div class="rubrique">
        <h1 class="titre">Nos rubriques</h1>
      </div>
      <div class="choice">
          <div class="container">
              <img src="{% static 'home/img/porc.jpg' %}" alt="" />
              <p class="title">Elevage</p>
              <div class="overlay"></div>
              <div class="button"><a href="{% url 'elevage' %}"> Clique Ici</a></div>
            </div>
            <div class="container">
              <img src="{% static 'home/img/mais.jpg' %}" alt="" />
              <p class="title">Agriculture</p>
              <div class="overlay"></div>
              <div class="button"><a href="{% url 'agriculture' %}"> Clique Ici</a></div>
            </div>
      </div>
    </div>

    <div class="container-annonces-home">
      <div class="info">
          <h1>Elevage</h1>
      </div>
      <div class="owl-carousel owl-theme">
          <div class="item">
                      <!-- Post-->
                  <div class="post-module">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                      <img src="img/champ.jpg" height="500"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                      </div>
                      <div class="post-click">
                      <p>Voir Plus</p>
                      </div>
                  </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="{% static 'owl-carrousel/img/champ.jpg' %}" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="{% static 'owl-carrousel/img/champ.jpg' %}" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="{% static 'owl-carrousel/img/champ.jpg' %}" height="500" />
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="{% static 'home/img/porc.jpg' %}" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>    
      </div>
      </div>
      <div class="info">
          <h1>Agriculture</h1>
      </div>
      <div class=" owl-carousel owl-theme">
          <div class="item">
                      <!-- Post-->
                  <div class="post-module">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                      <img src="img/champ.jpg" height="500"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                      </div>
                      <div class="post-click">
                      <p>Voir Plus</p>
                      </div>
                  </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="{% static 'owl-carrousel/img/champ.jpg' %}" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>
          </div>
          <div class="item" >
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="img/champ.jpg" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="img/champ.jpg" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  <img src="img/champ.jpg" height="500"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                  <div class="category">Elevage</div>
                  <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                  <h2 class="sub_title">Disponible</h2>
                  <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                  <div class="post-meta">
                      <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                      <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                      <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                  </div>
                  </div>
                  <div class="post-click">
                  <p>Voir Plus</p>
                  </div>
              </div>   
      </div>
      </div>
      <div class="recommandation">
          <div class="info">
              <h1>Choix de nos equipes</h1>
          </div>
          <div class=" owl-carousel owl-theme">
              <div class="item">
                          <!-- Post-->
                      <div class="post-module">
                          <!-- Thumbnail-->
                          <div class="thumbnail">
                          <img src="img/champ.jpg" height="500"/>
                          </div>
                          <!-- Post Content-->
                          <div class="post-content">
                          <div class="category">Elevage</div>
                          <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                          <h2 class="sub_title">Disponible</h2>
                          <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                          <div class="post-meta">
                              <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                              <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                              <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                          </div>
                          </div>
                          <div class="post-click">
                          <p>Voir Plus</p>
                          </div>
                      </div>
              </div>
              <div class="item">
                  <div class="post-module">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                      <img src="img/champ.jpg" height="500"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                      </div>
                      <div class="post-click">
                      <p>Voir Plus</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="post-module">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                      <img src="img/champ.jpg" height="500"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                      </div>
                      <div class="post-click">
                      <p>Voir Plus</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="post-module">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                      <img src="img/champ.jpg" height="500"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                      </div>
                      <div class="post-click">
                      <p>Voir Plus</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="post-module">
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                      <img src="img/champ.jpg" height="500"/>
                      </div>
                      <!-- Post Content-->
                      <div class="post-content">
                      <div class="category">Elevage</div>
                      <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                      <h2 class="sub_title">Disponible</h2>
                      <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                      <div class="post-meta">
                          <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                          <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                          <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                      </div>
                      </div>
                      <div class="post-click">
                      <p>Voir Plus</p>
                      </div>
                  </div>   
          </div>
          </div>
      </div>
     
</div>
    

{% endblock Content %}
{%block js %} 
    <script src="{% static 'owl-carrousel/js/card.js' %}"></script>
{%endblock js %}
    
        
