@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
  margin: 0;
  padding: 0;
}
/*gerer le choix des nos equipes */
.container-annonces-home .recommandation{
 background-color: rgb(192, 192, 192);
 padding: 30px 0 0 0;
}
.container-annonces-home{
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  .post-module {
    position: relative;
    z-index: 1;
    display: flexbox;
    flex-direction: column;
    margin: 10px;
    background: #000000;
    width: 300px;
    height: auto;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .post-module:hover,.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.3);
  }
  .post-module:hover .thumbnail img,
  .hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
  }
  .post-module .thumbnail {
    background: #000000;
    height: 250px;
    overflow: hidden;
  }

  .post-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .post-module .post-content {
    display: block;
    background: #FFFFFF;
    width: 100%;
    padding: 20px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  }
  .post-module .post-content .category {
    position: absolute;
    top:230px;
    left: 100px;
    background-color: tomato ;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #242424;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .post-module .post-content .sub_title {
    margin: 0;
    padding: 0 1px 2px;
    color: #37e620e3;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
  }
  .post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
  }
  .post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
    border-top: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: right;
    text-align: center;
  }
  .post-module .post-content .post-meta >span{
    padding-right: 5px;
    font-size: 10px;
    text-align: center;
  }
  .post-module .post-content .post-meta span i{
     padding-right: 5px;
     
  }
  .post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
  }
  .post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
  }
  
  .hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
  }
/* AJOUTER PAR MIKE */
  .post-module  .post-click{
    display: block;
    width: inherit;
    color: white;
    font-family:  sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(17, 17, 82);
    padding: 1px;
    transition: background-color .3s;
  }
  .post-module  .post-click:hover{
    background-color: rgb(7, 7, 36);
    
  }
  
  .container-annonces-home :before,
  .container-annonces-home:after {
    content: '';
    display: block;
    clear: both;
  }
  .container-annonces-home.column {
    width: 50%;
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  .container-annonces-home  .info {
    width: 500px;
    margin: 10px auto;
    text-align: center;
  }
  .container-annonces-home .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
  }
  .container-annonces-home .info span {
    color: #666666;
    font-size: 12px;
  }
  .container-annonces-home  .info span a {
    color: #000000;
    text-decoration: none;
  }
  @media screen and (max-width: 800px){
    .post-module {
      width: 200px;
      height: auto;
  }
  .post-module .post-content .title {
    font-size: 12px;
    font-weight: 700;
  }
  .post-module .post-content {
    padding: 12px;
  }
  .post-module .post-content .sub_title {
    font-size: 10px;
    font-weight: 800;
  }
  .post-module .post-content .description {
    font-size: 10px;
    line-height: 1.8em;
  }
  .post-module .post-content .category {
    position: absolute;
    top:150px;
    left: 50px;
    font-size: 10px;
    font-weight: 300;
  }
  .post-module .thumbnail {
    height: 170px;
  }
  .post-module .post-content .post-meta >span{
    font-size: 8px;
  }
  .post-module  .post-click{
    font-size: 8px;
  }
  .post-module .post-content .post-meta {
    margin: 10px 0 0;
  }
  .container-annonces-home  .info {
    width: 300px;
  }
  .container-annonces-home .info h1 {
    font-size: 20px;
    text-align: center;
  }
 
  
}