
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.form-container .part .text{
	color: rgb(119, 119, 119);
}


#profil_pic{
	border-radius: 50%;
}
#loginBtn {
display: block;
border-radius: 20px;
border: 1px solid tomato;
background-color: tomato;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}
#loginBtn:active{
transform: scale(0.95);
}
.item{
font-size: 40px;
font-weight: bold;
color: rgb(184, 184, 184);
margin: 10px;
cursor: pointer;
}
.part{
display: none;
}
.isactived{
display: block;
color: black;
}

.step {
display: flex;
align-items: center;

}
.profil_info img{
	border-radius: 50%;

}
.body-second {
	box-sizing: border-box;
	background:  #f2f2f2;
	display: flex;
	background-color: #FFFFFF;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	z-index: -1;
	height: 700px;
}

.form-main h1 {
	font-weight: bold;
	margin: 0;
}
.overlay-panel  h1 {
	font-weight: bold;
	margin: 0;
}

.overlay-panel p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.form-main span {
	font-size: 12px;
}

.form-main a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
.overlay-panel a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.form-main button {
	border-radius: 20px;
	border: 1px solid #09112e;
	background-color: #09112e;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form-main button:active {
	transform: scale(0.95);
}

.form-main button:focus {
	outline: none;
}

.overlay-panel .ghost {
	background-color: transparent;
	color: #ffffff;
	padding: 0.5vw 7vh;
	border-radius: 20px;
	border: 1px solid white;
}

.overlay-panel .ghost:active{
	transform: scale(0.95);
	transition: transform 80ms ease-in;
}
.overlay-panel .ghost:hover{
	transform: scale(1.1);	
	color:  #ffffff	;
	background-color:  #FF4B2B;
	border: none;
	transition: transform 80ms ease-in;
}

.body-second .form-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px 50px;
	height: 100%;
	text-align: center;
}

.body-second .form-main input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.body-second .container {
	overflow: hidden;
	
}

.body-second .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.body-second .sign-in-container {
	right: 0;
	width: 30%;
	z-index: 2;
}

.body-second .sign-up-container {
	left: 0;
	width: 50%;
	z-index: 2;
}
.overlay-container-in{
	position: absolute;
	top: 0;
	right: 30%;
	width: 70%;
	height: 100%;
	overflow: hidden;
}
.overlay-container-up{
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
}


.overlay-in {
	background: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}
.overlay-up{
	background: #000000;
	background-image: url('img/mais.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	right: 0;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


 .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

 .overlay-left {
	transform: translateX(0);
}

 .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

 .social-container {
	margin: 20px 0;
}

.body-second .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.overlay-panel h1{
	color: tomato;	
}

@media screen and (max-width: 800px){
	.part{
		margin-top: 50px;
		}
		.step {
		margin-top: 20px;
		display: flex;
		align-items: center;
		
		}
	.body-second {
		height: 950px;
		z-index: -3;
	}
	.body-second-2 {
		height: 1000px;
		z-index: -3;
	}
	.body-second .form-container {
		position: absolute;
		top: 400px;
		width: 100%;
		height: 60%;
		transition: all 0.6s ease-in-out;
	}
	.overlay-container-in{
		position: absolute;
		width: 100%;
		right: 0;
		bottom:50%;
		height: 300px;
		overflow: hidden;
	}
	.overlay-container-up{
		position: absolute;
		width: 100%;
		left: 0;
		bottom:50%;
		height: 300px;
		overflow: hidden;
	}
	.overlay-panel {
		position: absolute;
		top:30px;
		padding: 0;
	}
	.body-second .form-main {
		position: relative;
		top:70px;
		height: 300px;
	}
	.body-second .form-main-2 {
		position: relative;
		top:80px;
		height: 400px;
	}
}