
.conteneur-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
}
.conteneur-card .band .category .titre{
    color: tomato;
}

.conteneur-card .card-long .contenain .prix{
    
    font-weight: bold;
    color: #09112e;
    margin: 5px;
    font-size: 18px;
  }
  .conteneur-card .card-long .contenain .prix_interval{
    font-weight: bold;
    color: #808080;
    margin: 5px;
    font-size: 14px;
  }

.card-long {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    background-color: white;
    font-family: sans-serif;
    margin: 10px;
    
}

.card-long .contenain .titre{
    color: rgb(65, 51, 51);
    padding: 0 5px 0 5px;
    font-weight: bold;
}
.card-long .contenain .description{
    display: flex;
    text-align: justify;
    padding: 0 5px 0 5px;
    text-overflow:ellipsis;
    color: #666666;
    font-size: 14px;
    line-height: 1.2em;
    word-wrap: break-word;
    height: 35px;
}
.card-long .contenain .subtitle{
    color: rgb(19, 196, 19);
    padding: 0 5px 0 5px;
    font-weight: bold;
    margin: 0;
}
.card-long .contenain .lieu{
    justify-content: flex-start !important;
    margin: 3px 0;
    padding: 5px;
}
.card-long .contenain .commentaire{
    font-size: 12px;
    margin: 5px 0;
    padding: 5px;
}


.card-long:hover .card-image {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.3);
    opacity: 0.6;
  }
  .card-long .thumbnail {
    background: #000000;
    width: 450px;
    overflow: hidden;
  }
  .card-long .thumbnail img{
    display: block;
    transform: scale(1.1);
    width: 200%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
.card-long:hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear 0s;
  }
.card-long .contenain{
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 650px;
    
}
.card-long .contenain .element{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}
.card-long .contenain .element .vu{
    font-size: 12px;
    color: rgb(170, 170, 170);
    padding-left: 2px;
}
.card-long .more{
    padding: 3px;
    background-color:rgb(50, 50, 87) ;
    text-align: center;
    text-orientation: mixed;
    writing-mode: vertical-lr;
}
.card-long .more:hover{
    background-color:rgb(21, 21, 39) ;
    transition: all 0.3s linear 0s;   
}
.card-long .more a{
    color: white;
    text-decoration: none;
}
.card-long .card-image{
    overflow: auto;
    width: 300px;
    height: 250px;
}
@media screen and (max-width: 800px){
    .card-long {
        width: 80vw;

    }
    .card-long .contenain .titre{
        padding: 0 2px 0 2px;
        font-size: 16px;
    }
    .card-long .contenain .subtitle{

        padding: 0 2px 0 2px;
        font-size: 10px;
    }
    .card-long .contenain .description{
        padding: 0 1px 0 1px;
        text-overflow:ellipsis;
        font-size: 11px;
    }
    .card-long .thumbnail {
        min-width: 150px;
        min-height: 150px ;
        overflow: hidden;
      }
      .card-long .thumbnail img{
        width: 120%;
      }
      .card-long .contenain .element .vu{
        font-size: 9px;
        padding-left: 2px;
    }
    .card-long .more a{
        font-size: 10px;
    }
    .card-long .more{
        padding: 2px;
    }
}
@media screen and (max-width: 500px){
    .card-long {
        width: 97vw;

    }
    .card-long .contenain .titre{
        padding: 0 2px 0 2px;
        font-size: 14px;
    }
    .card-long .contenain .subtitle{

        padding: 0 2px 0 2px;
        font-size: 12px;
    }
    .card-long .contenain .description{
        padding: 0 1px 0 1px;
        text-overflow:ellipsis;
        font-size: 12px;
    }
    
}