{% extends 'base.html' %}
{% load static %}
{% load cache %}
{%block titre%}Inscription{%endblock titre %}
{%block style %}
<style>
  .msg_avertis{
    background-color: yellow;
    padding: 10px;
    border-radius: 30px;
  }
</style>
{%endblock style %}

{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %} 

{% block Content %}
	
	<div class="body-second">
		<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form  class="form-main" action="/postsignup/" name="myForm" method="post">
			{% csrf_token %}
			<h1>Creer Un Compte</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>ou enregistrez-vous par email</span>
			<div class="step">
				<div class="item item1 isactived">1</div>
				<div class="item item2" id="item2" >2</div>
				<div class="item item3" id="item3">3</div>
				<div class="item item3" id="item4" >4</div>
			</div>
			<div class="part pass isactived">
				<h2 class="text">Mettre le mot de passe et Utilisateur</h2>
          {% if msg %}
            <p class="msg_avertis">{{msg}}</p>
          {% endif %}
					<input type="email" name="email" placeholder="email" required>
					<input type="password" name="password" id="password" placeholder="password" required onkeyup="check();">
					<input type="password" name="confirm_password" id="confirm_password" placeholder="confirm password" required onkeyup="check();">
				<button type="button" disabled id="suivant_part_pass" onclick="Suivant(1);">suivant</button>
		  </div>
	  
		  <div class="part personnel_info">
			<h2 class="text">Vos Information Personnel</h2>
				<input type="text" placeholder="name" name="name">
				<input type="text" placeholder="Prenom" name="prenom">
				<input type="text" placeholder="Adresse" name="adr">
				<input type="text" placeholder="Nom Entreprise" name="entreprise">
		    <button type="button" onclick="Precedent(2);">precedent</button>
		    <button type="button" onclick="Suivant(2);">suivant</button>
		  </div>
		  <div class="part contact_info">
			<h2 class="text">Vos Informations de Contact</h2>
				<input type="tel" placeholder="numero phone 1" name="tel1">
				<input type="tel" placeholder="numero phone 2" name="tel2">
				<input type="tel" placeholder="Numero Whastapp" name="whatsapp">
				<input type="tel" placeholder="Telegram ex:@clam" name="telegram">
		    <button type="button" onclick="Precedent(3);">precedent</button>
		    <button type="button" onclick="Suivant(3);">suivant</button>
		  </div>
	  
		  <div class="part profil_info">
			<h2 class="text">Photo de profil</h2>
        <img src="https://th.bing.com/th/id/OIP.iOnAhgLrg_AR5D6STimV3wAAAA?w=221&h=220&c=7&r=0&o=5&pid=1.7"  id="img_profil" height="120" width="120">
				<input type="file" name="files[]" id="files">
				<input type="hidden" name="url" id="url">
		    <button type="button" onclick="Precedent(4);">precedent</button>
			  <button type="button" onclick="uploadimage();"  onchange="img_profil(event);" accept="image/*" >Upload</button>
        <div class="wrap-circles">
          <div class="circle per-0">
            <div class="inner">0%</div>
          </div>
          <div class="circle per-25">
            <div class="inner">25%</div>
          </div>
          <div class="circle per-50">
            <div class="inner">50%</div>
          </div>
          <div class="circle per-75">
            <div class="inner">75%</div>
          </div>
          <div class="circle per-100">
            <div class="inner">100%</div>
          </div>
        </div>
			  <input type="submit" id="loginBtn" value="Inscription" disabled >
		  </div>
		  <p id="message"></p>	
		</form>
	</div>
	<div class="overlay-container-up">
		<div class="overlay-up" style="background-image: url('{% static 'login/img/mais.jpg' %}');">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenu(e)</h1>
				<p>TU peux te connecter avec ton compte personnel si tu en as un.</p>
				<a href="{% url 'signIn' %}" class="ghost" id="signIn">Connexion</a>
			</div>
		</div>
	</div>
</div>
</div>
{%block js %} 
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script src="{% static 'firebase/firebase_site.js' %}"></script>
<script src="{% static 'login/js/signup.js' %}"></script>
<script>
      
</script>    
{%endblock js %}
{% endblock Content %}
