{% extends 'base.html' %}
{% load static %}
{% load cache %}

{%block titre%} 404 page no found {%endblock titre %}

{%block style %}
    
    <style>
        body{
            background-color: rgb(217, 217, 255);
        }
        .container-page-404{
            width:300px;
            height: 300px;
            margin: 100px;
           display: flex;
           justify-content: center;
           align-items: center;
            
        }
        .txt_404 {
            color:tomato;
            font-weight: 900;
            font-size: 300px;
            text-align: center;
        }
        .message-404{
            color: rgb(6, 6, 51);
            text-align: center;
            font-size: 50px;

        }
        #home {
            

        }
        
    </style>
{%endblock style %}
{%block links %} 

{%endblock links %}
{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %}
{% block Content %}


    <div class="container-found">
        <div class="txt_404">
            404
        </div>
        <div class="message-404">Page non trouve</div>
    </div>
{% endblock Content %}