{% extends 'base.html' %}
{% load static %}
{% load cache %}

{%block titre%} {{titre|title}} - Description {%endblock titre %}

{%block style %}
<style>
    .container{
        padding: 75px 25%;
        border: 10px solid red;
    }
    .progress{
        margin: 10px;
    }
    .etoile{
        
        align-items: center;
        width: 30%;
    }
</style>
{%endblock style %}
{%block links %} 
<link rel="stylesheet" href="{% static 'description/css/style-description.css' %}">
<link rel="stylesheet" href="{% static 'owl-carrousel/css/card-style.css' %}">
{%endblock links %}
{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %}
{% block Content %}
<div class="container-annonces-description">
    {%for dat,user,dispo in data %}
    <!---   ------------------------ SECTION IMAGE----------------------------  -->
    <div class="element thumbail">
            <div class="mySlides">
                <div class="numbertext"> <i class="fas fa-image"></i> 1 / 3</div>
            {% if dat.imgurl1 %}
                <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="350" onclick="currentSlide(1)" alt="{{dat.produit}}">
              {% else %}
              <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%" height="350" onclick="currentSlide(1)" alt="pexels">
              {% endif %}
            </div>
          
            <div class="mySlides">
              <div class="numbertext"> <i class="fas fa-image"></i> 2 / 3</div>
            {% if dat.imgurl2 %}
              <img class="demo cursor" src="{{dat.imgurl2}}" style="width:100%" height="350" onclick="currentSlide(1)" alt="{{dat.produit}}">
            {% else %}
            <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" height="350" style="width:100%" onclick="currentSlide(1)" alt="pexels">
            {% endif %}
            </div>
          
            <div class="mySlides">
              <div class="numbertext"> <i class="fas fa-image"></i> 3 / 3</div>
            {% if dat.imgurl3 %}
              <img class="demo cursor" src="{{dat.imgurl3}}" style="width:100%" height="350" onclick="currentSlide(1)" alt="{{dat.produit}}">
            {% else %}
            <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%" height="350" onclick="currentSlide(1)" alt="pexels">
            {% endif %}
            </div>  
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          
            <div class="row">
              <div class="column">
                {% if dat.imgurl1 %}
                  <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="100" onclick="currentSlide(1)" alt="{{dat.produit}}">
                {% else %}
                <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%" height="100" onclick="currentSlide(1)" alt="pexels">
                {% endif %}
              </div>
              <div class="column">
                {% if dat.imgurl2 %}
                  <img class="demo cursor" src="{{dat.imgurl2}}" style="width:100%" height="100" onclick="currentSlide(1)" alt="{{dat.produit}}">
                {% else %}
                <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" height="100" style="width:100%" onclick="currentSlide(1)" alt="pexels">
                {% endif %}
              </div>
              <div class="column">
              {% if dat.imgurl3 %}
                <img class="demo cursor" src="{{dat.imgurl3}}" style="width:100%" height="100" onclick="currentSlide(1)" alt="{{dat.produit}}">
              {% else %}
              <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" height="100" style="width:100%" onclick="currentSlide(1)" alt="pexels">
              {% endif %}
              </div>
             
          </div>
        
      </div>
    <!---   ------------------------ SECTION HOME ----------------------------  -->
    <div class="element pritidi">
        
        <div class="prix">
            {% if dat.prix %} 
                {{dat.prix}}
                {% if dat.devise == "USD"%}${% elif dat.devise == "CDF"%}Fc{% endif %}  
                <span  style="font-size:10px;">/{{dat.poids}}</span>
            {% endif %}
            
            {% if dat.prix_min %}
               {{dat.prix_min}} 
               {% if dat.devise == "USD"%}${% elif dat.devise == "CDF"%}Fc{% endif %}
            {% endif %}
            {% if dat.prix_min %}
              - {{dat.prix_max}}
              {% if dat.devise == "USD"%}${% elif dat.devise == "CDF"%}Fc{% endif %}
              <span  style="font-size:10px;">/{{dat.poids}}</span>
            {% endif %}

            {% if dat.autres %}
               {{dat.autres}}
            {% endif %} 
        </div>
        <div class="titre">{{dat.titre|title}}</div>
        <div class="disponibilite"style="color:{{dispo.color}}">{{dispo.disponible|default:"Delai"}}</div>
        <div class="stat">
            <span class="vu"></span>
            <span class="vu"><i class="fas fa-eye"></i> {{vues.count}}</span>
        </div>
    </div>
    <!---   ------------------------ SECTION EVALUATION ----------------------------  -->
    <div class="element evaluation">
        <div class="element-titre">Evaluation du producteur</div>
        <div class="element-center">
            {%if evaluation <= 50%}
            <div class="evaluation-nombre">          
                <div class="progressbar">
                    <div class="wrap-circles">
                        <div class="circle" style="background-image: conic-gradient(rgb(196, 29, 0) {{evaluation}}%, #000000 0);">
                            <div class="inner">{{evaluation}}</div>
                        </div>
                    </div>
            
                </div>
                <div class="evaluation-text" style="color:red;">Non Fiable</div>
            </div>
            {%else%}
                <div class="evaluation-nombre">
                    <div class="progressbar">
                        <div class="wrap-circles">
                            <div class="circle" style="background-image: conic-gradient(rgb(145, 255, 0) {{evaluation}}%, #000000 0);">
                                <div class="inner">{{evaluation}}</div>
                            </div>
                        </div>
                
                    </div>
                    <div class="evaluation-text" style="color:rgb(145, 255, 0);">Fiable</div>
                </div>
            {%endif%}
            <p>Cliquer Sur le Bouton ce desous Pour Evaluer</p>
                
            <div class="evaluation-center">
                {% if uid %}
                <div class="evaluation-btn" id="btn-modal-evaluation" onclick="btn_modal_evaluation()">Evaluer</div> 
                {% else %}
                <div class="evaluation-btn" id="btn-modal-message" onclick="btn_modal_message()" >Evaluer</div> 
                {% endif %}
                
                
            </div>     
        </div>     
    </div>
    <!---   ------------------------ MODAL EVALUATION ----------------------------  -->
    <div class="modal-connexion" id="myModal">
        <!-- Modal content -->
        <div  class="modal-content">
            <div class="modal-header">
                <span class="close close-evaluation"> 
                    <span class="fermer" onclick="close_evaluation()">&times;</span>
                    <span class="text-search">Evaluation du Producteur</span>
                    <span></span>
                </span>
            </div>
            <div class="modal-body">
                    
                    <form id="evaluation-form"  method="post"  >
                        {% csrf_token %}
                        
                        <p class="text" style="color:tomato;">Cliquer sur "Fiable" ou sur "Non Faible" afin de Noter le Producteur</p>
                        <div class="part-evaluation">
                            <div id="uidannonce" data-uidannonce="{{user.uid}}" data-uid="{{uid}}" ></div>
                            <div id="uid"  data-uid="{{uid}}" ></div>
                            <div class="fiable"">
                                <label>
                                   <input type="radio" id="fiable" name="evaluation" value="fiable">
                                   <span>Fiable</span> 
                                </label>
                            </div>
                            <div class="nofiable">
                                <label>
                                   <input type="radio" id="nofiable" name="evaluation" value="nofiable">
                                   <span>Non Fiable</span> 
                                </label>
                            </div>
                            <input type="submit" value="Evaluer">
                        </div>
                    </form>
         </div>   
    </div>
    </div>
    <!---   ------------------------ MODAL MESSAGE ----------------------------  -->
   
    <div class="modal-connexion" id="modal-messsage">
        <!-- Modal content -->
        <div  class="modal-content" style="height:250px;">
            <div class="modal-header">
                <span class="close close-message"> 
                    <span class="fermer"  onclick="close_message()">&times;</span>
                    <span class="text-search">Message</span>
                    <span></span>
                </span>
            </div>
            <div class="modal-body">
                    
                    <form id="evaluation-form"  method="post" data-uid="{{uid}}" >
                        {% csrf_token %}
                        
                        <h3 class="text" >Veillez vous connecter ou vous inscrire s'ils vous plait!</h3>
                        <div class="part-evaluation">
                            <button onClick='window.location.href="/signIn/"'>Connexion</button>
                            <button onClick='window.location.href="/signUp/"'>Inscription</button>
                        </div>
                    </form>
         </div> 
           
    </div>
    </div>

    

   <!---   ------------------------ SECTION DETAILS ----------------------------  -->
    <div class="element details">
        <div class="element-titre">Details du produit</div>
        <ul>
            <li class="detail"><strong>Categorie:</strong>
                {%if dat.categorie == "agriculture"%}
                <div id="data-cat" data-cat="{{dat.categorie}}"></div> 
                <a href="{% url 'agriculture' %}">{{dat.categorie|title}}</a> 
                {%else %}
                <div id="data-cat" data-cat="{{dat.categorie}}"></div> 
                <a href="{% url 'elevage' %}">{{dat.categorie|title}}</a>
                {% endif%}
            </li>
            <li class="detail"><strong>Produit:</strong> {{dat.produit|title}}</li>
            <li class="detail"><strong>Quatite:</strong>{{dat.quatite}}</li>
            <li class="detail"><strong>Lieu:</strong>{{dat.lieu}}</li>
            <li class="detail"><strong>Date de Publication:</strong>{{dat.date}}</li>
        </ul>
    </div>
    <!---   ------------------------ SECTION DISCRIPTION ----------------------------  -->
    <div class="element description">
        <div class="element-titre">Description du produit</div>
        <p class="text">
            {{dat.description|title}}
        </p>
    </div>
    
<!---   ------------------------ SECTION FLOTANT ----------------------------  -->
    <div class="description-contact">
        {% if uid %}
        <span class="favoris" onclick="btn_modal_message()"><a href=""><i class="fas fa-star"></i></i> Ajouter Au favoris</a></span>
        <span class="user-btn" onclick="btn_modal_contacter()"><div class="btn-contacter">Contact</div></span>
        {% else %}
        <span id="btn-modal-message" onclick="btn_modal_message()" class="favoris"><a href=""><i class="fas fa-star"></i></i> Ajouter Au favoris</a></span>
        <span  id="btn-modal-message" onclick="btn_modal_message()" class="user-btn"><div class="btn-contacter">Contacter</div></span>
        {% endif %}
        
    </div>

    {%endfor %}
 <!---   ------------------------ SECTION COMMENTAIRE ----------------------------  -->
    <div class="element commentaire">
        <div class="element-titre">Avis sur le produit</div>
        <div class="note-produit">
            <div class="note"><i class="fa fa-star"></i>5</div>
            <div class="etoile">
               
            </div>
            <div class="commentaire-btn">
                {% if uid %}
                <span class="favoris" id="btn-modal-commentaire" onclick="btn_modal_message()" >Ajouter Un Avis</span>
                {% else %}
                <span class="favoris" id="btn-modal-message" onclick="btn_modal_message()">Ajouter Un Avis</span> 
                {% endif %}
                 
            </div>
        </div>
        <div>
            <div class="follow"><a href="">VOIR PLUS</a></div> 
        </div>  
    </div>

 <!---   ----------------- SECTION SUIVRE et INFO PERSONNE --------------------  -->
    {%for dat,user,dispo in data %}
    <div class="element contact">
        <div class="user-thumbails">
            <img src="{{user.imgurl}}" alt="{{user.prenom}}" class="user-img" height="80" width="80">
        </div>
        <div class="user-name">
            <span class="name">{{user.prenom}} {{user.nom}}</span>
        </div>
        <div class="user-entreprise">
            <span class="name">{{user.entreprise}}</span>
        </div>
        <div class="follow"><a href=""><i class="fas fa-bookmark"></i> Suivre</a></div>
    </div>
    {%endfor %}

<!---   ----------------- SECTION SIGNALER --------------------  -->
    <div class="element control">
        {% if uid %}
                <span id="btn-modal-message" onclick="btn_modal_signaler()" class="signaler">SIGNALER</span>
        {% else %}
                <span id="btn-modal-message" onclick="btn_modal_message()" class="signaler">SIGNALER</span> 
        {% endif %}
             
    </div> 
   </div> 
<!---   -------------------------------------RECOMMANDER ----------------------------------  -->
    <div class="recommandation" style="width:100%;background-color: rgb(210, 204, 223);">
        <div class="info">
            <h2 style="text-align: center;">Produits de Meme Categorie </h2>
        </div>
        <div class=" owl-carousel owl-theme">
            {% for iden, work,user,dispo in list %}
            <div class="item">
                <!-- Post-->
            <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail" onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"'>
                {% if work.imgurl1 %}
                    <img src="{{work.imgurl1}}" alt="" class="card-image" height="450" width="500">
                 {% elif work.imgurl2 %}
                    <img src="{{work.imgurl2}}" alt="" class="card-image" height="450" width="500">
                 {% elif work.imgurl3 %}
                    <img src="{{work.imgurl3}}" alt="" class="card-image" height="450" width="500" >
                 {% else %}
                   <img src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-image" height="620" width="620">
                 {%endif%}
                </div>
                <!-- Post Content-->
                <div class="post-content">
                <div class="category">{{work.categorie}}</div>
                <h1 class="title">{{work.titre|title|truncatechars:20 }}</h1>
                <div class="prix">
                    {% if work.prix %} 
                        {{work.prix}}
                        {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}  
                        <span  style="font-size:10px;">/{{work.poids}}</span>
                    {% endif %}
                    
                    {% if work.prix_min %}
                       {{work.prix_min}} 
                       {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                    {% endif %}
                    {% if work.prix_min %}
                      - {{work.prix_max}}
                      {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                      <span  style="font-size:10px;">/{{work.poids}}</span>
                    {% endif %}
        
                    {% if work.autres %}
                       {{work.autres}}
                    {% endif %} 
                </div>
                <h2 class="sub_title" style="color:{{dispo.color}}">{{dispo.disponible|default:"Delai"}}</h2>
                <p class="description">{{work.description|truncatechars:100}}</p>
                <div class="post-meta">
                    <span class="timestamp"><i class="fas fa-clock"></i>{{work.date}}</span>
                    <span class="users"><i class="fas fa-users"></i>{{user.prenom}} {{user.nom}}</span>
                    <span  class="lieu"><i class="fas fa-map-marker-alt"></i>{{user.quartier}}</span>
                </div>
                </div>
                <div class="post-click">
                    <p  onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"'>Voir Plus</p>
                </div>
            </div>
            </div>
           {% empty %}
            
            <div class="item">
                <div class="post-module">
                    <!-- Thumbnail-->
                    <div class="thumbnail">
                    <img src="img/champ.jpg" height="500"/>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                    <div class="category">Elevage</div>
                    <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                    <h2 class="sub_title">Disponible</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta">
                        <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                        <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                        <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                    </div>
                    </div>
                    <div class="post-click">
                    <p>Voir Plus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-module">
                    <!-- Thumbnail-->
                    <div class="thumbnail">
                    <img src="img/champ.jpg" height="500"/>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                    <div class="category">Elevage</div>
                    <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                    <h2 class="sub_title">Disponible</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta">
                        <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                        <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                        <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                    </div>
                    </div>
                    <div class="post-click">
                    <p>Voir Plus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-module">
                    <!-- Thumbnail-->
                    <div class="thumbnail">
                    <img src="img/champ.jpg" height="500"/>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                    <div class="category">Elevage</div>
                    <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                    <h2 class="sub_title">Disponible</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta">
                        <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                        <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                        <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                    </div>
                    </div>
                    <div class="post-click">
                    <p>Voir Plus</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-module">
                    <!-- Thumbnail-->
                    <div class="thumbnail">
                    <img src="img/champ.jpg" height="500"/>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                    <div class="category">Elevage</div>
                    <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                    <h2 class="sub_title">Disponible</h2>
                    <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                    <div class="post-meta">
                        <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                        <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                        <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                    </div>
                    </div>
                    <div class="post-click">
                    <p>Voir Plus</p>
                    </div>
                </div>
            </div>
        {%endfor%}
           
        </div>
    </div>

<!---   ------------------------ MODAL CONTATER ----------------------------  -->
{%for dat,user,dispo in data %}  
<div class="modal-connexion" id="modal-contacter">
    <!-- Modal content -->
    <div  class="modal-content" id="screen-contact">
        <div class="modal-header">
            <span class="close "> 
                <span class="fermer close-contacter" onclick="close_contacter()">&times;</span>
                <span class="text-search">Contact du producteur</span>
                <span></span>
            </span>
        </div>
        <div class="modal-body">
                <h5 style="color:tomato;" class="text social" id="text-annonce">
                    Voici les contacter du producteur ou fournisseur.
                </h5>
                <form action="/creation_annonce/" method="post" >
                    {% csrf_token %}
                    <div class="part_item">
                        <div class="item item1 isactived-item" id="item1" onclick="change_section(1)">A propos</div>
                        <div class="item item2 " id="item2" onclick="change_section(2)" >Contacts</div>
                        <div class="item item3" id="item3" onclick="change_section(3)" >Adresses</div>
                    </div>
                    
                    <div class="section part_info isactived">
                        <div class="img-profil"><img src="{{user.imgurl}}" alt="" width="100" height="100"></div>
                        <div class="txt">{{user.prenom}} {{user.nom}} </div>
                        <div class="txt">{{user.entreprise}}</div>
                         
                    </div>
                    <div class="section part_info_2">

                        <div class="txt"><a href="mailto:{{user.email}}"><i class="fas fa-envelope"></i> email: {{user.email}}</a></div>
                        <div class="txt"><a href="tel:{{user.tel1}}"> <i class="fa fa-phone" aria-hidden="true"></i> Numero de telephone 1:{{user.tel1}}</a></div>
                        <div class="txt"><a href="tel:{{user.tel2}}"> <i class="fa fa-phone" aria-hidden="true"></i> </i> Numero de telephone 2:{{user.tel2}}</a></div> 
                        <div class="txt"><a href="https://t.me/{{user.telegram}}"><i class="fab fa-telegram-plane"></i> Telegram : {{user.telegram}}</a></div> 
                        <div class="txt"><a href="https://api.whatsapp.com/send?phone=243{{user.whatsapp}}"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp : {{user.whatsapp}}</a></div>               
                    </div>
                    <div class="section part_info_3">

                        <div class="txt">Commune : {{user.commune}}</div>
                        <div class="txt">Quartier : {{user.quartier}}</div>
                        <div class="txt">Avenue : {{user.avenue}}</div> 
                            
                    </div> 
                     
                </form>
     </div>   
</div>
</div>

<!-------------------- MODAL SIGNALER -------------------------->
<div class="modal-connexion" id="modal-signaler">
    <!-- Modal content -->
    <div  class="modal-content" id="screen-contact">
        <div class="modal-header">
            <span class="close "> 
                <span class="fermer close-signaler" onclick="close_signaler()">&times;</span>
                <span class="text-search">Signaler Mauvaise Annonce</span>
                <span></span>
            </span>
        </div>
        <div class="modal-body">
                <h5 style="color:tomato;" class="text social" id="text-annonce">
                    Selectionner la raison ou ecrivez-nous pour autres raison consernants.
                </h5>
               
                    <form action="/signaler_annonce/{{idannonce}}/{{user.uid}}/{{categorie}}/"  id="signaler-form" methode="get">
                        {% csrf_token %}
                        <div class="part part_signaler isactived">
                        <select id="cat" name="motif">
                            <option value="Indesirable">Indesirable</option>
                            <option value="Arnaque">Arnaque</option>
                            <option value="Faux compte">Faux compte</option>
                            <option value="Pornagaphique">Pornogaphique</option>
                        </select> 
                        <textarea id="desc" rows="2" cols="50" name="signaler-autre" placeholder="Autres raisons "></textarea>
                        <div class="btn">
                            <button>Signaler</button>
                        </div>
                   </div>       
                    </form>            
            
     </div>   
</div>
</div>
{%endfor %}
{%block js %} 
<script src="{% static 'description/js/description.js' %}"></script>
<script src="{% static 'owl-carrousel/js/card.js' %}"></script>
<script>
// ----------- SECTION  --------------------
function change_section(number){
    if (number==1){
        $(".part_info").css("display","block");
        $(".part_info_2").css("display","none");
        $(".part_info_3").css("display","none");
        $("#item1").css("color","black");
        $("#item2").css("color","gray");
        $("#item3").css("color","gray");
    }
    if (number==2){
        $(".part_info").css("display","none");
        $(".part_info_2").css("display","block");
        $(".part_info_3").css("display","none");
        $("#item2").css("color","black");
        $("#item1").css("color","gray");
        $("#item3").css("color","gray");
       
    }
    if (number==3){
        $(".part_info").css("display","none");
        $(".part_info_2").css("display","none");
        $(".part_info_3").css("display","block");
        $("#item3").css("color","black");
        $("#item1").css("color","gray");
        $("#item2").css("color","gray");
    }
}

// ----------- MODAL CONTACTER-------------------
     // Get the modal
var modalContacter = document.getElementById("modal-contacter");

// Get the button that opens the modal
function btn_modal_contacter() {
modalContacter.style.display = "block";
}

// Get the <span> element that closes the modal
function close_contacter() {
modalContacter.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modalContacter) {
    modalContacter.style.display = "none";
}
}
// ----------- MODAL MESSAGE-------------------
     // Get the modal
var modalmessage = document.getElementById("modal-messsage");

// Get the button that opens the modal
function btn_modal_message() {
modalmessage.style.display = "block";
}

// Get the <span> element that closes the modal
function close_message() {
modalmessage.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modalmessage) {
    modalmessage.style.display = "none";
}
}
/* ----------- MODAL EVALUATION -------------------*/
 /*Get the modal*/
 var modalevaluatiion = document.querySelector("#myModal");

/* Get the button that opens the modal*/
function btn_modal_evaluation() {
    modalevaluatiion.style.display = "block";
}

 /*Get the <span> element that closes the modal*/
function close_evaluation() {
modalevaluatiion.style.display = "none";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modalevaluatiion) {
    modalevaluatiion.style.display = "none";
}
}

// ------------------- Ajax -------------------------------
$(document).on('submit', '#evaluation-form', function(e){
e.preventDefault()
e.preventDefault();
var evaluation = document.querySelector('input[name="evaluation"]:checked').id;
console.log(evaluation);

//name = $('#fiable').val()
//name = $('#nofiable').val()
idannonce = $("#uidannonce").attr("data-uidannonce");
uid = $("#uid").attr("data-uid");
console.log(evaluation);
console.log(uidannonce);
console.log(uid);
$.ajax({
type: 'POST',
url: "{% url 'evaluation' %}",
data: {
    evaluation: evaluation,
    uidannonce: uidannonce,
    uid: uid,
    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
},
success: function(data) {
    alert(data);
    modalevaluatiion.style.display = "none";
},
})
   
});

// 

// ----------- MODAL SiGNALER-------------------
    // Get the modal
    var modalSignaler = document.getElementById("modal-signaler");

// Get the button that opens the modal
function btn_modal_signaler() {
    modalSignaler.style.display = "block";
}

// Get the <span> element that closes the modal
function close_signaler() {
    modalSignaler.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modalSignaler) {
    modalSignaler.style.display = "none";
}}

</script>
{%endblock js %}
{% endblock Content %}