{% extends 'base.html' %}
{% load static %}
{% load cache %}
{%block titre%}  Description {%endblock titre %}
{%block style %}
<style>
    .container{
        padding: 75px 25%;
        border: 10px solid red;
    }
</style>
{%endblock style %}
{%block links %} 
<link rel="stylesheet" href="{% static 'description/css/style-description.css' %}">
{%endblock links %}
{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %}
{% block Content %}
<div class="container-annonces-description">
    {%for dat,user in data %}
    <div class="element thumbail">
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
            {% if dat.imgurl1 %}
                <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="350" onclick="currentSlide(1)" alt="{{dat.produit}}">
              {% else %}
              <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%" height="350" onclick="currentSlide(1)" alt="pexels">
              {% endif %}
            </div>
          
            <div class="mySlides">
              <div class="numbertext">2 / 6</div>
            {% if dat.imgurl2 %}
              <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="350" onclick="currentSlide(1)" alt="{{dat.produit}}">
            {% else %}
            <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" height="350" style="width:100%" onclick="currentSlide(1)" alt="pexels">
            {% endif %}
            </div>
          
            <div class="mySlides">
              <div class="numbertext">3 / 6</div>
            {% if dat.imgurl3 %}
              <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="350" onclick="currentSlide(1)" alt="{{dat.produit}}">
            {% else %}
            <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%" height="350" onclick="currentSlide(1)" alt="pexels">
            {% endif %}
            </div>  
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          
            <div class="row">
              <div class="column">
                {% if dat.imgurl1 %}
                  <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="100" onclick="currentSlide(1)" alt="{{dat.produit}}">
                {% else %}
                <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" style="width:100%" height="100" onclick="currentSlide(1)" alt="pexels">
                {% endif %}
              </div>
              <div class="column">
                {% if dat.imgurl2 %}
                  <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="100" onclick="currentSlide(1)" alt="{{dat.produit}}">
                {% else %}
                <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" height="100" style="width:100%" onclick="currentSlide(1)" alt="pexels">
                {% endif %}
              </div>
              <div class="column">
              {% if dat.imgurl3 %}
                <img class="demo cursor" src="{{dat.imgurl1}}" style="width:100%" height="100" onclick="currentSlide(1)" alt="{{dat.produit}}">
              {% else %}
              <img class="demo cursor" src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" height="100" style="width:100%" onclick="currentSlide(1)" alt="pexels">
              {% endif %}
              </div>
             
          </div>
        
      </div>
    
    <div class="element pritidi">
        
        <div class="prix">{{dat.prix}} {{dat.devise}}</div>
        <div class="titre">{{dat.titre|title}}</div>
        <div class="disponibilite">Disponible</div>
        <div class="stat">
            <span class="vu"></span>
            <span class="vu"></span>
        </div>
    </div>
    <div class="element evaluation">
        <div class="element-titre">Evaluation</div>
    </div>

    <div class="element details">
        <div class="element-titre">Details</div>
        <ul>
            <li class="detail"><strong>Categorie:</strong>
                {%if dat.categorie == "agriculture"%} 
                <a href="{% url 'agriculture' %}">{{dat.categorie|title}}</a> 
                {%else %}
                <a href="{% url 'elevage' %}">{{dat.categorie|title}}</a>
                {% endif%}
            </li>
            <li class="detail"><strong>Produit:</strong> {{dat.produit}}</li>
            <li class="detail"><strong>Quatite:</strong>{{dat.quatite}}</li>
            <li class="detail"><strong>Lieu:</strong>{{dat.lieu}}</li>
            <li class="detail"><strong>Date de Publication:</strong>{{dat.date}}</li>
        </ul>
    </div>
    <div class="element description">
        <div class="element-titre">Description</div>
        <p class="text">
            {{dat.description|title}}
        </p>
    </div>
    <div class="description-contact">
        <div class="user-thumbails">
            <img src="{{user.imgurl}}" alt="{{user.prenom}}" class="user-img" height="30" width="30">
        </div>
        <div class="user-name">
            <span class="name">{{user.prenom}} {{user.nom}}</span>
        </div>
        <div class="user-btn">
            <div class="btn-contacter">Contacter</div>
        </div>
    </div>
   </div> 
    {%endfor %}
    
    <div class="element control">
        <span class="favoris"></span>
        <span class="follow"></span>
    </div>
    <div class="element commentaire">

    </div>

</div>

{%block js %} 
<script src="{% static 'description/js/description.js' %}"></script>
{%endblock js %}
{% endblock Content %}