{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'logo/logo_apagrel.png' %}" type="image/x-Icon">
    {% block meta %}
    {% endblock meta %}
    <link rel="stylesheet" href="{% static 'base/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'header/css/nav.css' %}"/>
    <link rel="stylesheet" href="{% static 'footer/css/footer-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'autre/css/scrol-on-top.css' %}"/>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carrousel/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carrousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carrousel/css/owl-style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://kit.fontawesome.com/e1d1ed83e9.js" crossorigin="anonymous"></script>
    
    {%block links %} {%endblock links %}
    <title>{%block titre%}{%endblock titre %} - APAGREL</title>
    {%block style %}{%endblock style %}</style>
    

</head>
<body>
    <div>
    {%block Connexion %}
        {% include "header/nav.html" %}
    {%endblock Connexion%} 
    </div>   
    <div style="position:relative;top:64px;margin-bottom:64px;">
    {%block Content %}
        <h1>Default Content</h1>
    {%endblock Content %}
    </div>
    <div>
        
            {% include "footer/footer.html" %}
        
    </div>

    <div onclick="topFunction()" id="myBtn-top" title="Go to top"><i class="fas fa-angle-up"></i></div>
       
    <script src="{% static 'header/js/nav.js' %}"></script>
    <script src="{% static 'autre/js/scrol-on-top.js' %}"></script>
    <script src="{% static 'home/js/slider-js.js' %}"></script>
    <script src="{% static 'owl-carrousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'owl-carrousel/js/owl-js.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="{% static 'autre/js/autocomplet.js' %}"></script>
    <script>
        $( function() {
   /* var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];*/
    $( "#search" ).autocomplete({
      source: "{% url 'autosuggest'%}"
    });
  } );
    </script>
    
    {%block js %} {%endblock js %}

</body>
</html>