

.choice {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.rubrique .titre{
  text-align: center;
  color: rgb(58, 51, 51);
  padding: 0;
}
.choice  .container {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5),0 5px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
  }
  
  .choice  .container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .choice  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .choice  .container img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
  }
  
  .choice .container .title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  .choice .container:hover .title {
    top: 90px;
  }
  
  .choice .container .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .choice .container .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: tomato;
    text-decoration: none;
    border: solid 2px tomato;
    z-index: 1;
  }
  
  .choice .container:hover .button {
    opacity: 1;
  }
  @media screen and (max-width: 800px){
    .choice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .choice .container {
      position: relative;
      width: 400px;
      height: 200px;
      margin: 5px;
    }
    .choice .container img {
      position: absolute;
      width: 500px;
      height: 300px;
      left: 0;
    }
    .choice .container .title {
      position: absolute;
      width: 400px;
      left: 0;
      top: 20px;
    }
    .choice  .container:hover .title {
      top: 40px;
    }
    .choice .container .button {
      position: absolute;
      width: 400px;
      top: 130px;
      text-align: center;
      transition: opacity .35s ease;
    }
  }
