{% extends 'base.html' %}
{% load static %}
{%block titre%}Agriculture{%endblock titre %}
{%block links %}
<link rel="stylesheet" href="{% static 'owl-carrousel/css/card-style.css' %}">
<link rel="stylesheet" href="{% static 'annonces/css/style-category.css' %}">
<link rel="stylesheet" href="{% static 'annonces/css/style-card2.css' %}">
{%endblock links %} 
{%block style %}
        <style>
            .band .category{
               background-image: url('{% static "home/img/mais.jpg" %}');
              }
              .container-card{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
              }
              .recommandation .info{
                    text-align: center;
                }
              
              @media screen and (max-width: 800px){
                  .container-card{
                      margin-top: 0px;
                  }
                  .recommandation .info{
                    font-size: 12px;
                    text-align: center;
                }
              }
        </style>
{%endblock style %}

{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %} 

{% block Content %} 

    <div class="conteneur-card">
        <div class="band">
            <div class="category">
                <h1 class="titre">
                    Agriculture
                </h1>
                <p class="subtitre">Section d'annonces des produits agricoles</p>
            </div>
        </div>



        {%if com_list %}
        {%for iden, work,user in com_list %}

            <div class="card-long" onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"'>
                <div class="thumbnail">
                    {% if work.imgurl1 %}
                       <img src="{{work.imgurl1}}" alt="" class="card-image" height="620" width="620">
                    {% elif work.imgurl2 %}
                       <img src="{{work.imgurl2}}" alt="" class="card-image" height="620" width="620">
                    {% elif work.imgurl3 %}
                       <img src="{{work.imgurl3}}" alt="" class="card-image" height="600" width="620" >
                    {% else %}
                      <img src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-image" height="620" width="620">
                    {%endif%}
                </div>
                <div class="contenain">
                    <h2 class="titre">{{work.titre|title|truncatechars:30 }} </h2>
                    <div class="prix">
                        {% if work.prix %} 
                            {{work.prix}}
                            {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}  
                            <span  style="font-size:10px;">/{{work.poids}}</span>
                        {% endif %}
                        
                        {% if work.prix_min %}
                           {{work.prix_min}} 
                           {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                        {% endif %}
                        {% if work.prix_min %}
                          - {{work.prix_max}}
                          {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                          <span  style="font-size:10px;">/{{work.poids}}</span>
                        {% endif %}

                        {% if work.autres %}
                           {{work.autres}}
                        {% endif %} 
                    </div>
                    <div class="subtitle">Disponible</div>
                    <div class="element lieu">
                        <span class="vu"> <i class="fa fa-map-marker" aria-hidden="true">{{user.adr}}</i></span>
                    </div>
                    <div class="description"> {{work.description|truncatechars:100}}</div>
                    <div class="commentaire"><strong>Commentaire: | 100 |</strong></div>
                    <div class="element">
                        <span class="vu"><i class="fa fa-users" aria-hidden="true"></i>{{user.prenom}} {{user.nom}} </span>
                        <span class="vu"><i class="fas fa-clock    "></i> {{work.date}}</span>
                        <span class="vu"><i class="fas fa-eye"></i> {{work.Annee}}</span> 
                    </div> 
                </div>
                <div  class="more">
                    <a href="/description/{{work.categorie}}/{{iden.id}}">Voir Plus</a>
                </div>    
            </div>
            {% empty %}
        <div class="card-long">
            <div class="thumbnail">
                <img src="img/champ.jpg" alt="" class="card-image">
            </div>
            <div class="contenain">
                <h2 class="titre">card </h2>
                <p class="subtitle">Disponible</p>
                <p class="description"> Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Nemo rem doloremque aspernatur 
                    modi officiis impedit inventore fugit quidem a repudiandae 
                    voluptatem reiciendis,
                    magni accusantium necessitatibus illum cum atque, vero odit. 
                </p>
                <div class="element">
                    <p class="vu"><i class="fa fa-users" aria-hidden="true"> Mike</i></p>
                    <p class="vu"><i class="fas fa-clock    "></i> 2 minutes</p>
                    <p class="vu"> <i class="fa fa-map-marker" aria-hidden="true"> kasumbalesa</i></p>  
                </div> 
            </div>
            <div  class="more">
                <a href="">Voir Plus</a>
            </div>
        </div>

        <div class="card-long">
            <div class="thumbnail">
                <img src="img/ferme.jpg" alt="" class="card-image">
            </div>
            <div class="contenain">
                <h2 class="titre">card </h2>
                <p class="subtitle">Disponible</p>
                <p class="description"> Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Nemo rem doloremque aspernatur 
                    modi officiis impedit inventore fugit quidem a repudiandae 
                    voluptatem reiciendis,
                    magni accusantium necessitatibus illum cum atque, vero odit. 
                </p>
                <div class="element">
                    <p class="vu"><i class="fa fa-users" aria-hidden="true"> Mike</i></p>
                    <p class="vu"><i class="fas fa-clock    "></i> 2 minutes</p>
                    <p class="vu"> <i class="fa fa-map-marker" aria-hidden="true"> kasumbalesa</i></p>  
                </div> 
            </div>
            <div  class="more">
                <a href="">Voir Plus</a>
            </div>
        </div>  
        {% endfor  %}
        {% else %}
             <h3 style="color:rgb(71, 71, 71) ;">Pas d'annonce dans cette categories.</h3>
        {% endif %}
        <div class="pagination">
            {% if com_list.has_previous %}
                <a href="{% url 'agriculture' %}?page={{com_list.previous_page_number}}" class="page prev"><i class="fas fa-arrow-left"></i> Precedent</a>
            {% endif %}
            <span class="current">
                < {{ com_list.number }} of {{ com_list.paginator.num_pages }} >
            </span>
            {% if com_list.has_next %}
                <a href="{% url 'agriculture' %}?page={{com_list.next_page_number}}" class="page next">Suivant <i class="fas fa-arrow-right"></i></a>
            {% endif%}
        </div>
        <div class="recommandation" style="width:100%;background-color: rgb(226, 226, 226);">
            <div class="info">
                <h1>Choix de nos equipes</h1>
            </div>
            <div class=" owl-carousel owl-theme">
                {%if list %}
                {% for iden, work,user in list %}
                <div class="item">
                            <!-- Post-->
                        <div class="post-module">
                            <!-- Thumbnail-->
                            <div class="thumbnail" onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"'>
                            {% if work.imgurl1 %}
                                <img src="{{work.imgurl1}}" alt="" class="card-image" height="450" width="500">
                             {% elif work.imgurl2 %}
                                <img src="{{work.imgurl2}}" alt="" class="card-image" height="450" width="500">
                             {% elif work.imgurl3 %}
                                <img src="{{work.imgurl3}}" alt="" class="card-image" height="450" width="500" >
                             {% else %}
                               <img src="https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-image" height="620" width="620">
                             {%endif%}
                            </div>
                            <!-- Post Content-->
                            <div class="post-content">
                            <div class="category">{{work.categorie}}</div>
                            <h1 class="title">{{work.titre|title|truncatechars:20 }}</h1>
                            <div class="prix">
                                {% if work.prix %} 
                                    {{work.prix}}
                                    {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}  
                                    <span  style="font-size:10px;">/{{work.poids}}</span>
                                {% endif %}
                                
                                {% if work.prix_min %}
                                   {{work.prix_min}} 
                                   {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                                {% endif %}
                                {% if work.prix_min %}
                                  - {{work.prix_max}}
                                  {% if work.devise == "USD"%}${% elif work.devise == "CDF"%}Fc{% endif %}
                                  <span  style="font-size:10px;">/{{work.poids}}</span>
                                {% endif %}
        
                                {% if work.autres %}
                                   {{work.autres}}
                                {% endif %} 
                            </div>
                            <h2 class="sub_title">Disponible</h2>
                            <p class="description">{{work.description|truncatechars:100}}</p>
                            <div class="post-meta">
                                <span class="timestamp"><i class="fas fa-clock"></i>{{work.date}}</span>
                                <span class="users"><i class="fas fa-users"></i>{{user.prenom}} {{user.nom}}</span>
                                <span  class="lieu"><i class="fas fa-map-marker-alt"></i>{{user.adr}}</span>
                            </div>
                            </div>
                            <div class="post-click">
                                <p  onClick='window.location.href="/description/{{work.categorie}}/{{iden.id}}"'>Voir Plus</p>
                            </div>
                        </div>
                </div>
               {% empty %}
                
                <div class="item">
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                        <img src="img/champ.jpg" height="500"/>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                        <div class="category">Elevage</div>
                        <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                        <h2 class="sub_title">Disponible</h2>
                        <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                        <div class="post-meta">
                            <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                            <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                            <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                        </div>
                        </div>
                        <div class="post-click">
                        <p>Voir Plus</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                        <img src="img/champ.jpg" height="500"/>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                        <div class="category">Elevage</div>
                        <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                        <h2 class="sub_title">Disponible</h2>
                        <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                        <div class="post-meta">
                            <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                            <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                            <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                        </div>
                        </div>
                        <div class="post-click">
                        <p>Voir Plus</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                        <img src="img/champ.jpg" height="500"/>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                        <div class="category">Elevage</div>
                        <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                        <h2 class="sub_title">Disponible</h2>
                        <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                        <div class="post-meta">
                            <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                            <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                            <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                        </div>
                        </div>
                        <div class="post-click">
                        <p>Voir Plus</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                        <img src="img/champ.jpg" height="500"/>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                        <div class="category">Elevage</div>
                        <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                        <h2 class="sub_title">Disponible</h2>
                        <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                        <div class="post-meta">
                            <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                            <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                            <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                        </div>
                        </div>
                        <div class="post-click">
                        <p>Voir Plus</p>
                        </div>
                    </div>
                </div>
            {%endfor%}
            {% else %}
                        <div class="item">
                            <div class="post-module">
                                <!-- Thumbnail-->
                                <div class="thumbnail">
                                <img src="img/champ.jpg" height="500"/>
                                </div>
                                <!-- Post Content-->
                                <div class="post-content">
                                <div class="category">Elevage</div>
                                <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                                <h2 class="sub_title">Disponible</h2>
                                <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                                <div class="post-meta">
                                    <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                                    <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                                    <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                                </div>
                                </div>
                                <div class="post-click">
                                <p>Voir Plus</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="post-module">
                                <!-- Thumbnail-->
                                <div class="thumbnail">
                                <img src="img/champ.jpg" height="500"/>
                                </div>
                                <!-- Post Content-->
                                <div class="post-content">
                                <div class="category">Elevage</div>
                                <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                                <h2 class="sub_title">Disponible</h2>
                                <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                                <div class="post-meta">
                                    <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                                    <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                                    <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                                </div>
                                </div>
                                <div class="post-click">
                                <p>Voir Plus</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="post-module">
                                <!-- Thumbnail-->
                                <div class="thumbnail">
                                <img src="img/champ.jpg" height="500"/>
                                </div>
                                <!-- Post Content-->
                                <div class="post-content">
                                <div class="category">Elevage</div>
                                <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                                <h2 class="sub_title">Disponible</h2>
                                <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                                <div class="post-meta">
                                    <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                                    <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                                    <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                                </div>
                                </div>
                                <div class="post-click">
                                <p>Voir Plus</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="post-module">
                                <!-- Thumbnail-->
                                <div class="thumbnail">
                                <img src="img/champ.jpg" height="500"/>
                                </div>
                                <!-- Post Content-->
                                <div class="post-content">
                                <div class="category">Elevage</div>
                                <h1 class="title">Vente des Montons a panda makomemo venez </h1>
                                <h2 class="sub_title">Disponible</h2>
                                <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                                <div class="post-meta">
                                    <span class="timestamp"><i class="fas fa-clock"></i>6 mins ago</span>
                                    <span class="users"><i class="fas fa-users"></i>mike sindani</span>
                                    <span  class="lieu"><i class="fas fa-map-marker-alt"></i>kasumbalesha</span>
                                </div>
                                </div>
                                <div class="post-click">
                                <p>Voir Plus</p>
                                </div>
                            </div>
                        </div>
                {% endif %}
               
            </div>
        </div>
    </div>

{% endblock Content %} 
{%block js %} 
    <script src="{% static 'owl-carrousel/js/card.js' %}"></script>
{%endblock js %} 