{% extends 'base.html' %}
{% load static %}
{% load cache %}

{%block titre%}  Download {%endblock titre %}

{%block style %}
<style>
   
</style>
{%endblock style %}
{%block links %} 
<link rel="stylesheet" href="{% static 'download/css/style-download.css' %}">
{%endblock links %}
{%block Connexion %}
    {% if uid %}
        {% include "header/nav_connexion.html" %}
   {% else %}
      {% include "header/nav.html" %}
   {% endif %}
{%endblock Connexion %}
{% block Content %}

<div class="container-downloader">
    <div class="thumbnail">
        <div><img src="{% static 'download/img/img.png' %}" alt="mobile-app" height="600" width="550"></div>
        
    </div>
    <div class="download_btn">
        <div class="part-0">
            <h1 class="text-qr-0">Telechargement</h1>
            <p class="text-qr-1">Veillez Scanner ce code QR afin d'obtenir <br> notre application Android.</p>
        </div>
        <div class="part-1"> <img src="{% static 'download/img/qr.png' %}" alt="mobile-app" height="250" width="250"></div>
        <div class="part-0">
            <p class="text-tele">Veillez cliquer sur telecharger afin d'obtenir <br> notre application Android.</p>
        </div>
        <div class="part-2">  <span class="btn"><i class="fa fa-download"></i>   Telecharger</span></div>          
    </div>
</div>

{%block js %} 

{%endblock js %}
{% endblock Content %}